<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,454},{44,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,426},{21,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,24}</string>
			</dict>
			<key>2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,454},{47,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,52}</string>
			</dict>
			<key>2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,426},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,24}</string>
			</dict>
			<key>3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,454},{48,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,54}</string>
			</dict>
			<key>3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,426},{22,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,24}</string>
			</dict>
			<key>4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,423},{51,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>
			<key>4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,392},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>black1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,196},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>
			<key>black10.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,196},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>
			<key>black2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,110},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>black3.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,196},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>
			<key>black4.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,146},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>black5.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,190},{20,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,34}</string>
			</dict>
			<key>black6.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,190},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>black7.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,182},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>black8.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,320},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>black9.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,356},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>blackJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,110},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>blackK.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,423},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>blackQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,146},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>J1.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,329},{65,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>J2.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,2},{65,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>J3.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,227},{65,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>J4.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,96},{65,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>K1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,250},{65,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,98}</string>
			</dict>
			<key>K2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,352},{65,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,98}</string>
			</dict>
			<key>K3.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,250},{65,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,98}</string>
			</dict>
			<key>K4.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,352},{65,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,98}</string>
			</dict>
			<key>poker_wrap.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,126},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Q1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,2},{65,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>Q2.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,329},{64,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>Q3.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,99},{65,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>Q4.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,232},{65,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,454},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>
			<key>red10.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,454},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>
			<key>red2.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,182},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>red3.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,453},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>
			<key>red4.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,218},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>red5.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,190},{20,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,34}</string>
			</dict>
			<key>red6.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,459},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>red7.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,254},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>red8.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,2},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>red9.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,38},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>redJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,2},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>redK.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,74},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
			<key>redQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,38},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>puker1.png</string>
			<key>realTextureFileName</key>
			<string>puker1.png</string>
			<key>size</key>
			<string>{305,510}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>305</integer>
			<key>height</key>
			<integer>510</integer>
		</dict>
	</dict>
</plist>