<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>101.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>102.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,145},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>103.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,288},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>104.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,431},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,574},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,717},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,860},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,2},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,145},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,288},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,431},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,574},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,717},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,860},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,2},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,145},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,288},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,431},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,574},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,717},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,860},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,2},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,2},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>54.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,2},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,2},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>63.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,2},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>64.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,145},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>71.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,288},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,431},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>73.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,574},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>74.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,717},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>81.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,860},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,145},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>83.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,145},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>84.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,145},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>91.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,145},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,145},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>93.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,288},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>94.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,431},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>J1.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,574},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>J2.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,717},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>J3.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,860},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>J4.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,288},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>K1.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,288},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>K2.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,288},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>K3.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,288},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>K4.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,431},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>Q1.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,574},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>Q2.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,717},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>Q3.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,860},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
			<key>Q4.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,431},{106,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,139}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>puker2.png</string>
			<key>realTextureFileName</key>
			<string>puker2.png</string>
			<key>size</key>
			<string>{990,1001}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>990</integer>
			<key>height</key>
			<integer>1001</integer>
		</dict>
	</dict>
</plist>